@font-face {
    font-family:'fonte';
    src: url(fonte/fonte.ttf);
}
body{
    margin: 0;
    background-color: rgb(228, 228, 228);
}
.k7
{
    background-color: rgb(58, 58, 58);
    width: 100vw;
    height: 70px;
    
}
.bordinha{
    border: rgb(255, 255, 255) solid 2px;
}
li a:hover{
    color: rgb(139, 139, 139);
}
li a{
    display: block;
    padding: 12px;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 2px;
}
li{
    float: left;
    margin-left: 15%;
}
a{
    text-decoration: none;
}
.bartolomeu{
    margin-left: 50px;
    float: left;
    text-decoration: none;
}
.maria{
    margin-left: 50px;
    float: left;
    text-decoration: none;

}
.carlos{
    margin-left: 50px;
    float: left;
    text-decoration: none;

}
.luis{
    margin-left: 50px;
    float: left;
    text-decoration: none;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    top: 0;
    width: 100vw;
    align-items: center;
    margin-top: 2%;
}
.logo{
    width:150px;
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
    align-self: center;
    float: left;
}
.titulo1{
    font-size: 60px;
    margin-top: 5%;
    margin-left: 5%;
}
.titulo2{
    font-size: 60px;
    text-align: justify;
    margin-left: 5%;
    margin-top: -2%;
}
.texto1{
    font-size: 35px;
    text-align: justify;
    margin-left: 5%;
    font-family:'fonte';
}
.texto2{
    font-size: 35px;
    text-align: justify;
    margin-left: 5%;
    margin-top: -1%;
    font-family:'fonte';
}
.texto3{
    font-size: 35px;
    text-align: justify;
    margin-left: 5%;
    margin-top: -1%;
    font-family:'fonte';
}
.flamengo{
   margin-left: 80%;
   margin-top: -20%;
   height: 500px;
}
.rodape{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 287.7px;
}
.creditos{
    color: white;
    margin-left: 2%;
    margin-top: 1%
}
.curi{
    width: 45%;
}
.ro{
    margin-left: 74%;
    margin-top: -25%;
    height: 350px;
    width: 300px;
    opacity: 0.75;
}
.sub{
    font-size: 40px;
}
.textoimg{
    font-size: 35px;
    text-align: justify;
    margin-left: 5%;
    font-family:'fonte';
    width: 55%;
    margin-top: -50%;
}
#pele{
    width: 36%;
    height: 60%;
    margin-left: 64%;
    margin-bottom: 15%;
}
.comu{
    font-size: 35px;
    width: 55%;

}
.tituloprin{
    font-size: 90px;
    text-align: justify;
    margin-left: 5%;
    margin-top: 2%;
    text-align: center;

}
.viado{
    margin-left: 70%;
    margin-top: -30%;
    width: 30%;
    height: 50%;
}
.foruns{
    width: 55%;
    margin-top: 5%;
}
.logoM{
    width: 35%;
    height: 33%;
    margin-left: 3%;
    margin-top: -20%;
}
.insta{
    width: 35%;
    height: 33%;
    margin-left: -3%;
    margin-top: -5%;
}
.ins{
    width: 55%;
    margin-top: 2%; 
}